<ngx-input type="text"
  [autofocus]="true"
  [(ngModel)]="search"
  [hint]="'Enter hashtag search'">
  <ngx-input-prefix>
    <span>#</span>
  </ngx-input-prefix>
  <ngx-input-suffix>
    <ngx-button class="btn btn-primary"
      (click)="fetchTweets()">Submit</ngx-button>
  </ngx-input-suffix>
</ngx-input>
<h2>
  {{ tpm }} Tweets Per Minute
</h2>
<div>
  <h2>Languages By # Tweets</h2>
  <ngx-datatable #mydatatable
    class="material"
    [headerHeight]="50"
    [limit]="5"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [trackByProp]="'updated'"
    [rows]="languages">
    <ngx-datatable-column name="Language"
      prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="# Tweets"
      prop="count"></ngx-datatable-column>
  </ngx-datatable>
</div>
<br>
<h2>Recent Tweets</h2>
<div *ngFor="let tweet of tweetPreviews">
  <img src="{{ tweet.imageUrl }}"
    alt="">
  <span>{{ tweet.text | slice:0:100}}</span>
</div>

<router-outlet></router-outlet>